<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Fit Game - Fit again with Fit game</title>

    <!--====== Favicon Icon ======-->
    <link rel="icon" href="assets/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="assets/css/LineIcons.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="assets/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="assets/css/animate.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css">


</head>

<body>

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->

    <!--====== NAVBAR PART START ======-->

    <section class="header-area" id="nav">
        <div class="navbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="#">
                                <img src="assets/images/logo.png" alt="Logo">
                            </a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarEight" aria-controls="navbarEight" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarEight">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="#home">HOME</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#about">ABOUT</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a class="page-scroll" href="#portfolio">PORTFOLIO</a>
                                    </li> -->
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#pricing">MEET THE TEAM</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a class="page-scroll" href="#testimonial">CLIENTS</a>
                                    </li> -->
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#footer">CONTACT</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="navbar-btn d-none mt-15 d-lg-inline-block">
                                <a class="menu-bar" href="#side-menu-right"><i class="lni-menu"></i></a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navbar area -->

        <form action="/" method="post">

            <div id="home" class="slider-area">
                <div class="bd-example">
                    <div id="carouselOne" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselOne" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselOne" data-slide-to="1"></li>
                            <li data-target="#carouselOne" data-slide-to="2"></li>
                        </ol>


                        <div class="carousel-inner">
                            <div class="carousel-item bg_cover active"
                                style="background-image: url(assets/images/play1.jpg);">
                                <div class="carousel-caption">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-xl-6 col-lg-7 col-sm-10">
                                                <h2 class="carousel-title">FIT - GAME</h2>
                                                <ul class="carousel-btn rounded-buttons">
                                                    <!-- <li><a class="main-btn rounded-three" href="#">GET STARTED</a></li> -->
                                                    <!-- <li><a class="main-btn rounded-one page-scroll" href="#portfolio">PLAY</a></li> -->
                                                    <li><button type="submit" class="main-btn rounded-three" name="play"
                                                            value="yes">PLAY GAME</button></li>
                                                </ul>
                                            </div>
                                        </div> <!-- row -->
                                    </div> <!-- container -->
                                </div> <!-- carousel caption -->
                            </div> <!-- carousel-item -->

                            <div class="carousel-item bg_cover" style="background-image: url(assets/images/play3.jpg);">
                                <div class="carousel-caption">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-xl-6 col-lg-7 col-sm-10">
                                                <h2 class="carousel-title">The Best Gamified Fitness Experience</h2>
                                                <ul class="carousel-btn rounded-buttons">
                                                    <!-- <li><a class="main-btn rounded-three" href="#">GET STARTED</a></li> -->
                                                    <!-- <li><a class="main-btn rounded-one page-scroll" href="#portfolio">PLAY</a></li> -->
                                                    <li><button type="submit" class="main-btn rounded-three" name="play"
                                                            value="yes">PLAY GAME</button></li>
                                                </ul>
                                            </div>
                                        </div> <!-- row -->
                                    </div> <!-- container -->
                                </div> <!-- carousel caption -->
                            </div> <!-- carousel-item -->

                            <div class="carousel-item bg_cover"
                                style="background-image: url(assets/images/play-6.jpeg);">
                                <div class="carousel-caption">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-xl-6 col-lg-7 col-sm-10">
                                                <h2 class="carousel-title">Play your favourite games and remain fit
                                                    along the way</h2>
                                                <ul class="carousel-btn rounded-buttons">
                                                    <!-- <li><a class="main-btn rounded-three" href="#">GET STARTED</a></li> -->
                                                    <!-- <li><a class="main-btn rounded-one page-scroll" href="#portfolio">PLAY</a></li> -->
                                                    <li><button type="submit" class="main-btn rounded-three" name="play"
                                                            value="yes">PLAY GAME</button></li>
                                                </ul>
                                            </div>
                                        </div> <!-- row -->
                                    </div> <!-- container -->
                                </div> <!-- carousel caption -->
                            </div> <!-- carousel-item -->
                        </div> <!-- carousel-inner -->

                        <a class="carousel-control-prev" href="#carouselOne" role="button" data-slide="prev">
                            <i class="lni-arrow-left-circle"></i>
                        </a>

                        <a class="carousel-control-next" href="#carouselOne" role="button" data-slide="next">
                            <i class="lni-arrow-right-circle"></i>
                        </a>
                    </div> <!-- carousel -->
                </div> <!-- bd-example -->
            </div>

    </section>

    <!--====== NAVBAR PART ENDS ======-->

    <!--====== SAIDEBAR PART START ======-->

    <div class="sidebar-right">
        <div class="sidebar-close">
            <a class="close" href="#close"><i class="lni-close"></i></a>
        </div>
        <div class="sidebar-content">
            <div class="sidebar-logo text-center">
                <a href="#"><img src="assets/images/logo-alt.png" alt="Logo"></a>
            </div> <!-- logo -->
            <div class="sidebar-menu">
                <ul>
                    <li><a href="#about">ABOUT</a></li>
                    <!-- <li><a href="#">SERVICES</a></li> -->
                    <li><a href="#pricing">MEET THE TEAM</a></li>
                    <li><a href="#footer">CONTACT</a></li>
                </ul>
            </div> <!-- menu -->
            <div class="sidebar-social d-flex align-items-center justify-content-center">
                <span>FOLLOW US</span>
                <ul>
                    <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                </ul>
            </div> <!-- sidebar social -->
        </div> <!-- content -->
    </div>
    <div class="overlay-right"></div>

    <!--====== SAIDEBAR PART ENDS ======-->

    <!--====== ABOUT PART START ======-->

    <section id="about" class="about-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="about-image text-center wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="100">
                        <img src="assets/images/about.png" alt="services" style="height: 150px;">
                    </div>
                    <div class="section-title text-center mt-30 pb-40">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.6s">Gamified Fitness
                            Platform</h4>
                        <p class="text wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">in order to help the
                            user enjoy games and maintain good health at the same time. </p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->

            <div class="row">
                <div class="col-lg-6">
                    <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s"
                        data-wow-delay="1.2s">
                        <div class="about-icon">
                            <img src="assets/images/icon-1.png" alt="Icon">
                        </div>
                        <div class="about-content media-body">
                            <h4 class="about-title">Tackles New-Age Problems</h4>
                            <p class="text">Kids get a complete Gaming Experience through this platform. Also helps to
                                tackle the growing problems of laziness and obesity</p>
                        </div>
                    </div> <!-- single about -->
                </div>
                <div class="col-lg-6">
                    <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s"
                        data-wow-delay="1.4s">
                        <div class="about-icon">
                            <img src="assets/images/icon-2.png" alt="Icon">
                        </div>
                        <div class="about-content media-body">
                            <h4 class="about-title">Kids Friendly Interface</h4>
                            <p class="text">Easy to use interface which is Child Friendly and doesn't require extra
                                effort to play engaging games</p>
                        </div>
                    </div> <!-- single about -->
                </div>
                <div class="col-lg-6">
                    <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s"
                        data-wow-delay="1.6s">
                        <div class="about-icon">
                            <img src="assets/images/icon-3.png" alt="Icon">
                        </div>
                        <div class="about-content media-body">
                            <h4 class="about-title">Motivating through Rewards</h4>
                            <p class="text">Have multiple rewards like Points, Badges, and leaderboards to showcase
                                Achievements with multiple challenges along the way.</p>
                        </div>
                    </div> <!-- single about -->
                </div>
                <div class="col-lg-6">
                    <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s"
                        data-wow-delay="1.8s">
                        <div class="about-icon">
                            <img src="assets/images/icon-4.png" alt="Icon">
                        </div>
                        <div class="about-content media-body">
                            <h4 class="about-title">Updated in real time</h4>
                            <p class="text">There is no other web application that analyses live video and transforms the physical experience of exercising and working out into entertaining activities for children. </p>
                        </div>
                    </div> <!-- single about -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== ABOUT PART ENDS ======-->


    <!--====== PRINICNG STYLE EIGHT START ======-->

    <section id="pricing" class="pricing-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-20">
                        <h3 class="title">Meet The Team</h3>
                        <!-- <p class="text">helloo</p> -->
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style-one mt-40 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <div class="pricing-icon text-center">
                            <img src="assets/images/avni.jpg" alt="">
                        </div>
                        <div class="pricing-header text-center">
                            <h5 class="sub-title">Avni Mittal</h5>
                            <!-- <p class="month"><span class="price">$ 199</span>/month</p> -->
                        </div>
                        <!-- <div class="pricing-list">
                            <ul>
                                <li><i class="lni-check-mark-circle"></i> Carefully crafted components</li>
                                <li><i class="lni-check-mark-circle"></i> Amazing page examples</li>
                            </ul>
                        </div> -->
                        <!-- <div class="pricing-btn rounded-buttons text-center">
                            <a class="main-btn rounded-three" href="#">GET STARTED</a>
                        </div> -->
                    </div> <!-- pricing style one -->
                </div>

                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style-one mt-40 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
                        <div class="pricing-icon text-center">
                            <img src="assets/images/dishti.jpg" alt="">
                        </div>
                        <div class="pricing-header text-center">
                            <h5 class="sub-title">Dishti Oberai</h5>
                            <!-- <p class="month"><span class="price">$ 399</span>/month</p> -->
                        </div>
                        <!-- <div class="pricing-list">
                            <ul>
                                <li><i class="lni-check-mark-circle"></i> Carefully crafted components</li>
                                <li><i class="lni-check-mark-circle"></i> Amazing page examples</li>
                            </ul>
                        </div> -->
                        <!-- <div class="pricing-btn rounded-buttons text-center">
                            <a class="main-btn rounded-three" href="#">GET STARTED</a>
                        </div> -->
                    </div> <!-- pricing style one -->
                </div>

                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style-one mt-40 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.8s">
                        <div class="pricing-icon text-center">
                            <img src="assets/images/sweety.jpg" alt="">
                        </div>
                        <div class="pricing-header text-center">
                            <h5 class="sub-title">Sweety Agarwal</h5>
                            <!-- <p class="month"><span class="price">$ 699</span>/month</p> -->
                        </div>
                        <!-- <div class="pricing-list">
                            <ul>
                                <li><i class="lni-check-mark-circle"></i> Carefully crafted components</li>
                                <li><i class="lni-check-mark-circle"></i> Amazing page examples</li>
                            </ul>
                        </div> -->
                        <!-- <div class="pricing-btn rounded-buttons text-center">
                            <a class="main-btn rounded-three" href="#">GET STARTED</a>
                        </div> -->
                    </div> <!-- pricing style one -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>


    <!--====== TESTIMONIAL THREE PART ENDS ======-->

    <!--====== CONTACT TWO PART START ======-->

    <!-- <section id="contact" class="contact-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-20">
                        <h3 class="title">Get in touch</h3>
                        <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
                    </div> <!- section title -->
    </div>
    </div>
    <!-- row ->
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-two mt-50 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <h4 class="contact-title">Lets talk about the project</h4>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde repellendus delectus facilis quia consequatur maxime perferendis! Sequi, modi consequatur.</p>
                        <ul class="contact-info">
                            <li><i class="lni-money-location"></i> Elizabeth St, Melbourne, Australia</li>
                            <li><i class="lni-phone-handset"></i> +333 789-321-654</li>
                            <li><i class="lni-envelope"></i> hello@ayroui.com</li>
                        </ul>
                    </div> <!-- contact two ->
                </div>
                <div class="col-lg-6">
                    <div class="contact-form form-style-one mt-35 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
                        <form  id="contact-form" action="assets/contact.php" method="post">
                            <div class="form-input mt-15">
                                <label>Name</label>
                                <div class="input-items default">
                                    <input type="text" placeholder="Name" name="name">
                                    <i class="lni-user"></i>
                                </div>
                            </div> <!-- form input ->
                            <div class="form-input mt-15">
                                <label>Email</label>
                                <div class="input-items default">
                                    <input type="email" placeholder="Email" name="email">
                                    <i class="lni-envelope"></i>
                                </div>
                            </div> <!-- form input ->
                            <div class="form-input mt-15">
                                <label>Massage</label>
                                <div class="input-items default">
                                    <textarea placeholder="Massage" name="massage"></textarea>
                                    <i class="lni-pencil-alt"></i>
                                </div>
                            </div> <!-- form input ->
                            <p class="form-message"></p>
                            <div class="form-input rounded-buttons mt-20">
                                <button type="submit" class="main-btn rounded-three">Submit</button>
                            </div> <!-- form input ->
                        </form>
                    </div> <!-- contact form ->
                </div>
            </div> <!-- row ->
        </div> <!-- container ->
    </section> -->

    <!--====== CONTACT TWO PART ENDS ======-->

    </form>

    <!--====== FOOTER FOUR PART START ======-->

    <footer id="footer" class="footer-area">
        <div class="footer-widget">
            <div class="container">
                <div class="row justify-content-center" style="align-items:center">
                    <!-- <div class="justify-content-center"> -->
                    <span>
                        <div><a href="#nav" class="footer-title page-scroll">Home</a></div>
                    </span><span>
                        <div><a href="#about" class="footer-title page-scroll">About</a></div>
                    </span><span>
                        <div><a href="#pricing" class="footer-title page-scroll">Meet the Team</a></div>
                    </span>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->

        <div class="footer-copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="copyright text-center text-lg-left mt-10">
                            <p class="text">Made by <a style="color: #FFAD00" rel="nofollow"
                                    href="#pricing">Debug-Dreams</p>
                        </div> <!--  copyright -->
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-logo text-center mt-10">
                            <a href="index.html"><img src="assets/images/favicon.png" alt="Logo" style="width:70%;"></a>
                        </div> <!-- footer logo -->
                    </div>
                    <div class="col-lg-5">
                        <ul class="social text-center text-lg-right mt-10">
                            <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                            <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                            <li><a href="#"><i class="lni-instagram-original"></i></a></li>
                            <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                        </ul> <!-- social -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>

    <!--====== FOOTER FOUR PART ENDS ======-->

    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->

    <!--====== PART START ======-->



    <!--====== PART ENDS ======-->










    <!--====== jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>

    <!--====== Isotope js ======-->
    <script src="assets/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Scrolling js ======-->
    <script src="assets/js/scrolling-nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>

    <!--====== wow js ======-->
    <script src="assets/js/wow.min.js"></script>

    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>

</body>

</html>