<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Fit Game - Fit again with Fit game</title>

    <!--====== Favicon Icon ======-->
    <link rel="icon" href="assets/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="assets/css/LineIcons.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="assets/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="assets/css/animate.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css">


</head>

<body>

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->

    <!--====== NAVBAR PART START ======-->

    <section class="header-area">
        <div class="navbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="#">
                                <img src="assets/images/logo.png" alt="Logo">
                            </a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarEight" aria-controls="navbarEight" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarEight">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="https://fitgame.herokuapp.com/">HOME</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                    <a class="page-scroll" href="#about">ABOUT</a>
                                </li> -->
                                    <!-- <li class="nav-item">
                                    <a class="page-scroll" href="#portfolio">PORTFOLIO</a>
                                </li> -->
                                    <!-- <li class="nav-item">
                                    <a class="page-scroll" href="#pricing">MEET THE TEAM</a>
                                </li> -->
                                    <!-- <li class="nav-item">
                                    <a class="page-scroll" href="#testimonial">CLIENTS</a>
                                </li> -->
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#footer">CONTACT</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="navbar-btn d-none mt-15 d-lg-inline-block">
                                <a class="menu-bar" href="#side-menu-right"><i class="lni-menu"></i></a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navbar area -->

    </section>

    <!--====== NAVBAR PART ENDS ======-->

    <!--====== SAIDEBAR PART START ======-->

    <div class="sidebar-right">
        <div class="sidebar-close">
            <a class="close" href="#close"><i class="lni-close"></i></a>
        </div>
        <div class="sidebar-content">
            <div class="sidebar-logo text-center">
                <a href="#"><img src="assets/images/logo-alt.png" alt="Logo"></a>
            </div> <!-- logo -->
            <div class="sidebar-menu">
                <ul>
                    <li><a href="https://fitgame.herokuapp.com/">HOME</a></li>
                    <!-- <li><a href="#">SERVICES</a></li> -->
                    <!-- <li><a href="#">MEET THE TEAM</a></li> -->
                    <li><a href="#footer">CONTACT</a></li>
                </ul>
            </div> <!-- menu -->
            <div class="sidebar-social d-flex align-items-center justify-content-center">
                <span>FOLLOW US</span>
                <ul>
                    <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                </ul>
            </div> <!-- sidebar social -->
        </div> <!-- content -->
    </div>
    <div class="overlay-right"></div>

    <!--====== SAIDEBAR PART ENDS ======-->

    <!--====== ABOUT PART START ======-->

    <section id="about" class="about-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <!-- <div class="about-image text-center wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="100">
                        <img src="assets/images/services.png" alt="services">
                    </div> -->
                    <div class="section-title text-center mt-30 pb-40">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.6s">Play the game woth your Body Movements!</h4>
                        <!-- <p class="text wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">in order to help the
                            user enjoy games and maintain good health at the same time. </p> -->
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== ABOUT PART ENDS ======-->

    <!-- ========= Embedding Game START ========== -->

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <p class="text wow fadeInUp text-center" data-wow-duration="1.5s" data-wow-delay="1s">Start Game</p>
            <iframe src=<%=gameSrc %> allowtransparency="true" width="800px" height="563px" frameborder="0"
                scrolling="no" id="gamePlay" allowfullscreen></iframe>
        </div>

        <!-- <div class="col-lg-6">
            <p class="text wow fadeInUp text-center" data-wow-duration="1.5s" data-wow-delay="1s">Your Video</p>
            
            <video autoplay="true" id="videoElement">

            </video>
            <button id="stop">Stop Video</button>
            <button id="start">Start Video</button>
        </div> -->
    </div>

    <!-- ========= Embedding Game End ============ -->

    <br><br><br><br>

    <!--====== FOOTER FOUR PART START ======-->

    <footer id="footer" class="footer-area">
        <!-- <div class="footer-widget"> -->
        <div class="container">
            <div class="row justify-content-center">
                <!-- <div class="justify-content-center"> -->
                <!-- <span> -->
                <div><a href="https://fitgame.herokuapp.com/" class="footer-title">Home</a></div>
                <!-- </span><span>
                        <div><a href="#about" class="footer-title">About</a></div>
                    </span><span>
                        <div><a href="#pricing" class="footer-title">Meet the Team</a></div>
                    </span> -->
            </div> <!-- row -->
        </div> <!-- container -->
        <!-- </div> footer widget -->



        <div class="footer-copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="copyright text-center text-lg-left mt-10">
                            <p class="text">Made by <a style="color: #FFAD00" rel="nofollow"
                                    href="#pricing">Debug-Dreams</p>
                        </div> <!--  copyright -->
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-logo text-center mt-10">
                            <a href="index.html"><img src="assets/images/favicon.png" alt="Logo" style="width:70%;"></a>
                        </div> <!-- footer logo -->
                    </div>
                    <div class="col-lg-5">
                        <ul class="social text-center text-lg-right mt-10">
                            <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                            <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                            <li><a href="#"><i class="lni-instagram-original"></i></a></li>
                            <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                        </ul> <!-- social -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>

    <!--====== FOOTER FOUR PART ENDS ======-->

    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->

    <!--====== PART START ======-->



    <!--====== PART ENDS ======-->






    <!-- <script>
        // var video = document.querySelector("#videoElement");

        // if (navigator.mediaDevices.getUserMedia) {
        //     navigator.mediaDevices.getUserMedia({ video: true })
        //         .then(function (stream) {
        //             video.srcObject = stream;
        //         })
        //         .catch(function (err0r) {
        //             console.log("Something went wrong!");
        //         });
        // }

    // var iframe = document.getElementById('gamePlay');
    // var startFlag = iframe.contentWindow.document.querySelector('[title*="Go"]');
    // var stopCircle = iframe.contentWindow.document.querySelector('[title*="Stop"]');

    // console.log(startFlag);
    // console.log(stopCircle);
    
    var video = document.querySelector("#videoElement");
    var stopVideo = document.querySelector("#stop");
    var startVideo = document.querySelector("#start")

    console.log(stopVideo)

    if (navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
          video.srcObject = stream;
        })
        .catch(function (err0r) {
          console.log("Something went wrong!");
        });
    }

    stopVideo.addEventListener("click", stop, false);
    startVideo.addEventListener("click", start, false);
    // stopCircle.addEventListener("click", stop, false);
    // startFlag.addEventListener("click", start, false);


    function stop(e) {
        // console.log(stopCircle);

      var stream = video.srcObject;
      var tracks = stream.getTracks();

      for (var i = 0; i < tracks.length; i++) {
        var track = tracks[i];
        track.stop();
      }

      video.srcObject = null;
    }

    function start(e) {
        if (navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
          video.srcObject = stream;
        })
        .catch(function (err0r) {
          console.log("Something went wrong!");
        });
    } 
    }
  
    
    </script> -->




    <!--====== jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>

    <!--====== Isotope js ======-->
    <script src="assets/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Scrolling js ======-->
    <script src="assets/js/scrolling-nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>

    <!--====== wow js ======-->
    <script src="assets/js/wow.min.js"></script>

    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>

</body>

</html>